<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
<string>Ajax Customs Configurator v1.1 - v10.5.33</string>
    <key>CFBundleDisplayName</key>
<string>Ajax Customs Configurator v1.1 - v10.5.33</string>
    <key>CFBundleIdentifier</key>
    <string>net.tangentmc</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>sanc</string>
    <key>CFBundleExecutable</key>
    <string>SantrollerConfiguratorBranded</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true />
  </dict>
</plist>
